body {
  width: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}
ul a {
  display: block;
  width: 90px;
  height: 30px;
  margin: 5px;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;
  background: #adadad;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}
ul a:hover { background: #6a6a6a; }
.txt-center { text-align: center; }
h1 { margin: 0; }
a:focus, a:active,
input:focus, input:active {
  outline: 3px solid #FFC123;
  border: none;
}

.espace-top { margin-top: 20px; }
.espace-top-lg { margin-top: 40px; }
.espace-top-xs { margin-top: 5px; }

.bg-fb { background-color: #3b5998; }
.bg-fb:hover { background-color: #6d84b4; }
.bg-tw { background-color: #00aced; }
.bg-tw:hover { background-color: #1dcaff; }
.bg-sh { background-color: #56C000; }
.bg-sh:hover { background-color: #24AB00; }